.debug-message {
	padding: 3px 4px;
	margin: 2px;
	border-radius: 3px;
	border: 1px solid #ffffff;
	cursor: pointer;
	font-size: 16px;
	text-decoration: none;
	color: #ffffff;
	display: inline-block;
}
.debug-info {
	background-color: #1851e7;
}
.debug-error {
	background-color: #ff472c;
}
.debug-success {
	background-color: #9ed012;
}
.debug-warning {
	background-color: #ff9100;
}
.debug-note {
	background-color: #999999;
}

.tx_displaycontroller_debug .icon-group {
	position: relative;
	display: inline-block;
	min-width: 20px;
	z-index: 1500;
}
.tx_displaycontroller_debug p {
	display: none;
	position: absolute;
	left: 4px;
	top: 27px;
	background-color: #000000;
	padding: 4px;
	border-radius: 3px;
	color: #ffffff;
}
.tx_displaycontroller_debug .icon-group:hover p {
	display: block;
}
